name: CI

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Set up JDK 11
        uses: actions/setup-java@v5.1.0
        with:
          distribution: temurin
          java-version: 11
          cache: maven

      - name: Spotless check
        run: ./mvnw -B -ntp spotless:check

      - name: Test
        run: ./mvnw -B -ntp test
